services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      MONGODB_URI: mongodb+srv://<Prisha123@cluster0.pjwljsk.mongodb.net/>:<Prisha@123>@cluster0.pjwljsk.mongodb.net/<mulehunter>
